.Settings_bg__2mZco{background-color:#f2faf5}.Settings_cardTelegram__NTCRM{width:45%;margin-top:3rem;margin-left:auto;margin-right:auto;border-radius:15px}.Settings_cardTelegramActions__1vnw8{margin-top:1rem;margin-bottom:1rem}.Settings_cardTelegramActions__1vnw8 button{margin-left:1rem;float:right}@media (min-width:320px) and (max-width:600px){.Settings_cardTelegram__NTCRM{width:80%}}
/*# sourceMappingURL=13.110b93fa.chunk.css.map */